body {
  --background-color: white;
  --set-color: black;
  --background-color-card: #fff;
  --font-color-card: #000;

  transition: 250ms ease;
  padding: 0;
  margin: 0;
}

body.dark {
  --background-color: black;
  --set-color: white;
  --background-color-card: rgb(2, 0, 36);
  --background-gradient-card: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(8, 37, 57, 1) 4%,
    rgba(10, 49, 72, 1) 14%,
    rgba(24, 138, 190, 1) 39%,
    rgba(13, 171, 219, 1) 65%,
    rgba(0, 212, 255, 1) 86%
  );
  --font-color-card: #ddd;

  transition: 250ms ease;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
