.side-drawer {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 65%;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
