.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 5px;
  font-weight: 300;
  border-radius: 5px;
  transition: 300ms ease;
}

.alert h3 {
  margin: 0;
}

.alert-danger {
  background-color: #ff0055;
  color: #ddd;
}
