.container-timetable {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container-timetable h1 {
  position: relative;
  font-weight: 300;
  user-select: none;
  cursor: pointer;
  margin-bottom: 0.4rem;
  font-family: Arial, Helvetica, sans-serif;
}

.container-timetable h1 span {
  position: absolute;
  font-size: 24px;
  color: #eee;
  background-color: #ff3d02;
  width: 60px;
  height: 26px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  left: 50%;
  top: 10%;
  transition: 0.6s ease;
  opacity: 0;
}

.container-timetable h1:hover span {
  left: 110%;
  opacity: 1;
}

.container-timetable:hover h1 {
  animation: bounce 400ms ease;
}

.btn-change-week {
  width: 40%;
}

.btn-change-week button {
  cursor: pointer;
  outline: none;
}

.btn-change-week button:nth-child(1) {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 18px;
  border: 1px solid red;
  color: red;
  background-color: transparent;
}

.btn-change-week button:nth-child(2) {
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 18px;
  border: 1px solid purple;
  color: purple;
  background-color: transparent;
}

.btn-change-week button:nth-child(1):hover {
  background-color: red;
  color: white;
}

.btn-change-week button:nth-child(2):hover {
  background-color: purple;
  color: white;
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
